.banner{
    width: 100%;
    font-family: 'Roboto',sans-serif;
    padding: 30px 0px;
    &-background{
        background-image: url('./images/banner/banner-bg.png');
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 120vh;
        width: 100%;
        z-index: 6;
        @media screen and (max-width: 1366px) {
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
        @media screen and (max-width: 1240px) {
            height: 150vh;
        }
        @media screen and (max-width: 1200px) {
            height: 165vh;
        }
        @media screen and (max-width: 400px) {
            height: 45vh;
        }

    }
    &-row{
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media screen and (max-width: 1240px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__toptitle{
        margin-top: 150px;
        z-index: 10;
        margin-bottom: -50px;
        @media screen and (max-width: 1366px) {
            margin-top: 150px;
            margin-bottom: -100px
        }
        &-title{
            font-family: "Nunito";
            font-weight: 600;
            color: #fff;
            font-size: 83px;
            line-height: 99.3%;
            @media screen and (max-width: 1366px) {
                font-size: 55px;
            }
            @media screen and (max-width: 600px) {
                font-size: 50px;
            }
            @media screen and (max-width: 430px) {
                font-size: 45px;
            }
            @media screen and (max-width: 400px) {
                font-size: 32px;
            }
        }
    }
    &__form{
        z-index: 10;
        padding: 30px 0;
        background-color: #0b286399 ;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.09);
        border-radius: 10px;    
        @media screen and (max-width: 1240px) {
            width: 500px;
        }
        @media screen and (max-width: 600px) {
            width: 570px;
        }
        @media screen and (max-width: 500px) {
            width: 500px;
        }
        @media screen and (max-width: 500px) {
            border-radius: 0;
            background-color: #0b2863;
        }
        @media screen and (max-width: 450px) {
            width: 450px;
        }
        @media screen and (max-width: 430px) {
            width: 430px;
        }
        @media screen and (max-width: 420px) {
            width: 420px;
        }
        @media screen and (max-width: 415px) {
            width: 415px;
        }
        @media screen and (max-width: 413px) {
            width: 413px;
        }
        @media screen and (max-width: 411px) {
            width: 411px;
        }
        @media screen and (max-width: 409px) {
            width: 409px;
        }
        @media screen and (max-width: 407px) {
            width: 407px;
        }
        @media screen and (max-width: 405px) {
            width: 405px;
        }
        @media screen and (max-width: 403px) {
            width: 403px;
        }
        @media screen and (max-width: 401px) {
            width: 401px;
        }
        @media screen and (max-width: 400px) {
            width: 400px;
        }
        @media screen and (max-width: 395px) {
            width: 395px;
        }
        @media screen and (max-width: 391px) {
            width: 391px;
        }
        @media screen and (max-width: 388px) {
            width: 388px;
        }
        @media screen and (max-width: 386px) {
            width: 385px;
        }
        @media screen and (max-width: 381px) {
            width: 380px;
        }
        @media screen and (max-width: 379px) {
            width: 379px;
        }
        @media screen and (max-width: 376px) {
            width: 376px;
        }
        @media screen and (max-width: 375px) {
            width: 374px;
        }
        @media screen and (max-width: 360px) {
            width: 360px;
        }
        &-wrapper{
            border-bottom: 2px solid #fff;
            &-links{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;
                margin-bottom: 25px;
                &-item{
                    color: #fff;
                    font-size: 18px;

                    @media screen and (max-width: 400px) {
                        font-size: 16px;
                    }
                }
            }

        }
        &__avia{
            display: flex;
            flex-direction: column;
            padding: 35px 119px 0px 119px;
            @media screen and (max-width: 1240px) {
                padding: 35px, 0;
            }

            &-wrapper{
             &-inputs{
                display: flex;
                gap: 3px;
                @media screen and (max-width: 1240px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &-input{
                    width: 220px;
                    background-color: #fff;
                    padding: 10px;
                    font-weight: 500;
                    padding-right: 45px;
                    height: 56px;
                    outline: none;
                    border: none;
                    font-size: 16px;

                    @media screen and (max-width: 1240px) {
                        width: 437px;
                        margin-bottom: 15px;
                    }
                    @media screen and (max-width: 600px) {
                        width: 507px;
                    }
                    @media screen and (max-width: 500px) {
                        width: 410px;
                    }
                    @media screen and (max-width: 430px) {
                        width: 350px;
                    }
                    @media screen and (max-width: 400px) {
                        width: 320px;
                    }
                    @media screen and (max-width: 380px) {
                        width: 300px;
                    }
                    &:focus{
                        &::placeholder{
                            font-size: 17px;
                            color: #0b2863;
                        }
                    }
                }
                &-button{
                    width: 220px;
                    background-color: #fff;
                    padding: 10px;
                    font-weight: 500;
                    padding-right: 45px;
                    color: #0b2863;
                    height: 56px;  
                    font-size: 14px;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                    font-family: 'Open sans';

                    @media screen and (max-width: 1240px) {
                        width: 437px;
                    }
                    @media screen and (max-width: 600px) {
                        width: 507px;
                    }
                    @media screen and (max-width: 500px) {
                        width: 410px;
                    }
                    @media screen and (max-width: 430px) {
                        width: 350px;
                    }
                    @media screen and (max-width: 400px) {
                        width: 320px;
                    }
                    @media screen and (max-width: 380px) {
                        width: 300px;
                    }
                    &-wrap{
                        display: flex;
                        &-text{
                            color: #696969;
                        }   
                    }
                }
            }
            &-chekbox{
                margin-top: 6px;
                display: flex;
                gap: 135px;
                @media screen and (max-width: 1240px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 10px;
                    margin: 10px, 0;
                }
                &-wrap{
                    display: flex;
                    gap: 4px;
                    p{
                        font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        color: #fff;
                    }
                }
            }
            }
            &-button{
                display: flex;
                justify-content: center;
                margin-top: 25px;
                font-family: 'Roboto',sans-serif;
                &-btn{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-weight: 700;
                    font-size: 16px;
                    margin: 0 auto;
                    background-color: #fd9704;
                    color: #fff;
                    border-radius: 10px;
                    padding: 10px 30px;
                    @media screen and (max-width: 430px) {
                        width: 220px;
                        height: 50px;
                    }
                    &:hover{
                        background-color: #f3a73d;
                    }
                    &:active{
                        background-color: #b37216;
                    }
                    @media screen and (max-width: 400px) {
                        width: 200px;
                        height: 50px;
                    }
                }
            }
            &__dropdown{

                @media screen and (max-width: 400px) {
                    margin-top: 3px;
                    right: 20px;
                }
                &__all{
                    opacity: 0;
                    visibility: hidden;
                    position: relative; 
                    margin-right: 3px;
                }
                display: flex;
                flex-direction: column;
                width: 220px;
                background-color: #fff;
                padding: 15px;
                border: 1px solid #444444;
                position: absolute;
                right: 40px;
                &__top{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding-bottom: 15px;
                }
                &-wrapper{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &__buttons{
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    &-btn{
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-size: 14px;
                        &-one{
                            background-color: #5A5C5F;
                        }
                        &-two{
                            background-color:#0c73fe;
                        }
                    }
                }
                &__texts{
                    &-toptext{
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.5;
                        color: #212529;
                    }
                    &-subtext{
                        line-height: 1.5;
                        font-size: 12px;
                        color: #90a4ae;
                        white-space: nowrap;
                    }
                }

                &__bottom{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding-top: 15px;
                    &-wrap{
                        display: flex;
                        gap: 5px;
                    }
                }
            }

        }
    }
}

.banner__form__avia__dropdown__all.open{
    opacity: 1;
    visibility: visible;
}

.banner__toptitle-title {
	-webkit-animation: banner__toptitle-title 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: banner__toptitle-title 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes banner__toptitle-title {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-150px);
              transform: translateY(-150px);
    }
  }
  @keyframes banner__toptitle-title {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  