.bluebanner {
    background-image: url('/images/bluebanner/bluebanner-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    height: 600px;
    font-family: 'Roboto', sans-serif;

    &__center {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 190px;
    }

    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__left {
        display: flex;
        flex-direction: column;

        &-title {
            font-weight: 700;
            font-size: 41px;
            color: #fff;
            line-height: 155%;
            margin-bottom: 15px;
        }

        &-text {
            font-weight: 600;
            color: #fff;
            line-height: 160%;
            font-size: 23px;
            margin-bottom: 20px;
        }

        &-wrap {
            display: flex;
            gap: 40px;
        }

        &-border {
            width: 83px;
            height: 6px;
            background-color: #fd9704;
            transform: translateX(-100px);
        }

        &-icon svg {
            width: 45px;
            color: #fff;
            cursor: pointer;
            height: 45px;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: #fd7e14;
            }
        }
    }

    &__right {

    }

    // &-krug {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     border-radius: 50%;
    //     border: 1px solid #fd7e14;
    //     width: 500px;
    //     height: 500px;
    // }
    // &-children {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         border-radius: 50%;
    //         border: 1px solid #fd7e14;
    //         width: 280px;
    //         height: 280px;
    //     }
    }


.bluebanner__right {}

.bluebanner__right__image-circle-krug {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fd7e14;
    width: 500px;
    height: 500px;
}

.bluebanner__right__image-circle-krug-childer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fd7e14;
    width: 280px;
    height: 280px;
}